In [1]:
import pandas as pd
import urllib.request, urllib.parse, urllib.error
import json

In [2]:
# US census API key
# Only needed if requests > 500/day  

apikey = False
if apikey is False:
    apikey = 'a9a31556222a7d52e490b89ae53e1a909c180a98'
else: 
    apikey = False

In [3]:
# Base URL for API call 
api_url = 'http://api.census.gov/data/timeseries/eits/qfr?get=cell_value,time_slot_id&'

In [32]:
# Parameter placeholders
# all are optional except for 'for' and 'time'
# see here for more info: https://api.census.gov/data/timeseries/eits/advm3/variables.html
error_data = 'no'
seasonally_adj = 'no'
category_code = ''
data_type_code = ''
for_param = 'US' # Required, 'US' will pull data for all states
time = 'from 2000' # Required 'from 2000' will pull all data from 2000 onwards

In [33]:
# Create a dictionary list of parameters to add to query string
params = dict()
params['error_data'] = error_data
params['seasonally_adj'] = seasonally_adj
params['category_code'] = category_code
params['data_type_code'] = data_type_code
params['for'] = for_param
params['time'] = time
if apikey is not False: params['key'] = apikey

In [34]:
# Create API URL & print resulting URL
url = api_url + urllib.parse.urlencode(params)
print('Retrieving',url)

Retrieving http://api.census.gov/data/timeseries/eits/qfr?get=cell_value,time_slot_id&error_data=no&seasonally_adj=no&category_code=&data_type_code=&for=US&time=from+2000&key=a9a31556222a7d52e490b89ae53e1a909c180a98

In [35]:
# Pull data
api_data = urllib.request.urlopen(url)
#read API data
data = api_data.read().decode()
print('Retrieved',len(data),'characters')

Retrieved 9763866 characters

In [36]:
# Transfer data to JSON format
try:
    js = json.loads(data)
except:
    js = None
    
#If no JSON is found print results
if not js: 
    print('Failed to retrieve following data')
    print(data)

# convert json string representation of dictionary to python dict
def only_dict(data): 
    return ast.literal_eval(data)

In [37]:
len(data)

9763866

In [38]:
# Read json into pandas dataframe 
df = pd.read_json(data)
df = df.rename(columns={0:'cell_value',1:'time_slot_id',2:'error_data',3:'seasonally_adj',4:'category_code',5:'data_type_code',6:'time',7:'us'})
df.drop(df.head(1).index, inplace=True)

In [39]:
df.head()

,cell_value,time_slot_id,error_data,seasonally_adj,category_code,data_type_code,time,us
1,12070,1284,no,no,311,NWC,2000-Q4,1
2,234020,1284,no,no,311,328,2000-Q4,1
3,77137,1284,no,no,311,327,2000-Q4,1
4,69748,1284,no,no,311,322,2000-Q4,1
5,7389,1284,no,no,311,D326,2000-Q4,1

In [40]:
len(df)

180320